@extends('layouts.app')

@section('content')
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">YSD05 : Sales Report by Region</h3>
        </div>

        <div class="box-body">
            <div id="container" style="height: 500px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>
        </div>
    </div>
@endsection

@section('javascript') 
    <!-- high Maps -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/drilldown.js"></script>
    <script src="{{ URL::asset('highmap/mapdata/countries/th/Region-all.js') }}"></script>
    <script>
        $(function(){
            
        var data = Highcharts.geojson(Highcharts.maps['countries/th/Region-all']),
        // Some responsiveness
        small = $('#container').width() < 400;

        // Set drilldown pointers
        $.each(data, function (i) {
        this.drilldown = this.properties['region'];
        this.value = i; // Non-random bogus data
        });

        // Instanciate the map
        Highcharts.mapChart('container', {
        chart: {
            events: {
                drilldown: function (e) {

                    if (!e.seriesOptions) {
                        var chart = this,
                            mapKey = 'countries/th/' + e.point.drilldown ,
                            // Handle error, the timeout is cleared on success
                            fail = setTimeout(function () {
                                if (!Highcharts.maps[mapKey]) {
                                    chart.showLoading('<i class="icon-frown"></i> Failed loading ' + e.point.name);

                                    fail = setTimeout(function () {
                                        chart.hideLoading();
                                    }, 1000);
                                }
                            }, 3000);

                        // Show the spinner
                        chart.showLoading('<i class="icon-spinner icon-spin icon-3x"></i>'); // Font Awesome spinner

                        // Load the drilldown map
                        $.getScript("{{ URL::asset('highmap/mapdata/') }}" + '/' + mapKey + '.js', function () {

                            data = Highcharts.geojson(Highcharts.maps[mapKey]);

                            // Set a non-random bogus value
                            $.each(data, function (i) {
                                console.log(i)
                                this.value = i;
                            });

                            // Hide loading and add series
                            chart.hideLoading();
                            clearTimeout(fail);
                            chart.addSeriesAsDrilldown(e.point, {
                                name: e.point.name,
                                data: data,
                                dataLabels: {
                                    enabled: true,
                                    format: '{point.name}'
                                }
                            });
                        });
                    }


                    this.setTitle(null, { text: e.point.name });
                },
                drillup: function () {
                    this.setTitle(null, { text: 'Thailand' });
                }
            }
        },

        title: {
            text: 'Highcharts Map Drilldown'
        },

        mapNavigation: {
            enabled: true,
            buttonOptions: {
                verticalAlign: 'bottom'
            }
        },

        plotOptions: {
            map: {
                states: {
                    hover: {
                        color: '#e2e0d3'
                    }
                }
            }
        },

        series: [{
            data: data,
            name: 'Thailand',
            dataLabels: {
                enabled: true,
                format: '{point.properties.name}'
            }
        }],

        drilldown: {
            activeDataLabelStyle: {
                color: '#FFFFFF',
                textDecoration: 'none',
                textOutline: '1px #000000'
            },
            drillUpButton: {
                relativeTo: 'spacingBox',
                position: {
                    x: 0,
                    y: 60
                }
            }
        }
        });
        });
    </script>

@endsection